*
  margin 0px

header
  padding 6px
  background #FDA
  
#lateral
  border 2px solid gray
  background #BBB
  vertical-align top
  
button#nuevo
  background #9F9
  
#contenido
  padding 10px
  
.campo
  border-left 1px solid #EFE
  border-top  1px solid #EFE
  border-right  1px solid #ABA
  border-bottom 1px solid #ABA
  background #BCB
  min-width 40px

.campo[colspan="2"]
  min-width 100px
  
.campo[contentEditable="true"]
  background #DED
  
.item
  min-height:20px;
  border-bottom: 1px solid #CCC
  
#grabar
  font-weight bold
  background #F8A
  
#grabar[data-saved="true"]
  background #8FA
  
button[data-sucia="true"]
  background #C88