doctype html
html
  head
    link(href="app.css", rel="stylesheet", type="text/css")
  body
    header checklist app v1
    table
      tr
        td#planillas_div
        td#contenido
    script(src="moment.js")
    script(src="estructura.js")
    script(src="app.js")