doctype html
html(manifest="manifest.manifest")
  head
    link(href="app.css", rel="stylesheet", type="text/css")
  body
    header checklist app v1 - obsoleta
    h1 
      a(href='v2') seguir en v2
