doctype html
html(manifest="manifest.manifest")
  head
    link(href="app.css", rel="stylesheet", type="text/css")
  body
    header checklist app v1
    table
      tr
        td#lateral
          #item_sincronizar
          #item_cantidad.item
          #item_m_upload.item
          #item_m_download.item
          #planillas_div
        td#contenido
      tr
        td(colspan=5)
          #item_status.item
    script(src="moment.js")
    script(src="estructura.js")
    script(src="app.js")